body {
    background-color:black;
    
}

div { 
    color:white;
    font-family:"Comic Sans MS";
}

h1 {
    color:white;
    font-family:"Comic Sans MS";
    text-align:center;
    
}

h3 {
    color:#386bb7;
    font-family:"Comic Sans MS";
    text-align:center;
    
}

h5 {
    color:white;
    font-family:"Comic Sans MS";
    text-align:center;
    
}

/* Makes text look creepy */
.cult {
    color:Black;
    text-shadow: 3px 2px #386bb7;
    letter-spacing: 10px;
    border: 3px double;
    border-radius: 10px;
    background-color: Linen
    
}

.salmon {
    text-shadow: 2px 2px #e9967a;
}

p {
    text-align:center;
    
}

/* Link Stylings */
a {
    font-family:"Comic Sans MS";
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #386bb7;
}

a:hover {
    color: #e9967a;
}

a:active {
    color: #386bb7;
}
